@font-face { font-family: CooperHewitt; src: url("../fonts/cooperhewitt/CooperHewitt-Medium.woff"); }

@font-face { font-family: CooperHewitt; src: url("../fonts/cooperhewitt/CooperHewitt-MediumItalic.woff"); font-style: italic; }

@font-face { font-family: CooperHewitt; src: url("../fonts/cooperhewitt/CooperHewitt-Bold.woff"); font-weight: bold; }

@font-face { font-family: CooperHewitt; src: url("../fonts/cooperhewitt/CooperHewitt-BoldItalic.woff"); font-weight: bold; font-style: italic; }

@font-face { font-family: CooperHewitt; src: url("../fonts/cooperhewitt/CooperHewitt-Thin.woff"); font-weight: 200; }

@font-face { font-family: CooperHewitt; src: url("../fonts/cooperhewitt/CooperHewitt-ThinItalic.woff"); font-weight: 200; font-style: italic; }

@font-face { font-family: CooperHewitt; src: url("../fonts/cooperhewitt/CooperHewitt-Book.woff"); font-weight: 250; }

@font-face { font-family: CooperHewitt; src: url("../fonts/cooperhewitt/CooperHewitt-BookItalic.woff"); font-weight: 250; font-style: italic; }

@font-face { font-family: CooperHewitt; src: url("../fonts/cooperhewitt/CooperHewitt-Light.woff"); font-weight: 300; }

@font-face { font-family: CooperHewitt; src: url("../fonts/cooperhewitt/CooperHewitt-LightItalic.woff"); font-weight: 300; font-style: italic; }

@font-face { font-family: CooperHewitt; src: url("../fonts/cooperhewitt/CooperHewitt-Medium.woff"); font-weight: 400; }

@font-face { font-family: CooperHewitt; src: url("../fonts/cooperhewitt/CooperHewitt-MediumItalic.woff"); font-weight: 400; font-style: italic; }

@font-face { font-family: CooperHewitt; src: url("../fonts/cooperhewitt/CooperHewitt-Semibold.woff"); font-weight: 500; }

@font-face { font-family: CooperHewitt; src: url("../fonts/cooperhewitt/CooperHewitt-SemiboldItalic.woff"); font-weight: 500; font-style: italic; }

@font-face { font-family: CooperHewitt; src: url("../fonts/cooperhewitt/CooperHewitt-Bold.woff"); font-weight: 600; }

@font-face { font-family: CooperHewitt; src: url("../fonts/cooperhewitt/CooperHewitt-BoldItalic.woff"); font-weight: 600; font-style: italic; }

@font-face { font-family: CooperHewitt; src: url("../fonts/cooperhewitt/CooperHewitt-Heavy.woff"); font-weight: 700; }

@font-face { font-family: CooperHewitt; src: url("../fonts/cooperhewitt/CooperHewitt-HeavyItalic.woff"); font-weight: 700; font-style: italic; }

/* Leading, Photoshop to CSS line-height (Line-Height, Font-Size) */
/* Tracking, Photoshop to CSS letter-spacing */
/* PX to REM & EM */
/* Shade */
/* Tint */
/* Font Awesome */
img { display: block; }

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }

ul { list-style: none; }

button, input, select, textarea { margin: 0; }

html { box-sizing: border-box; }

* { box-sizing: inherit; }

*:before, *:after { box-sizing: inherit; }

img, audio, video { height: auto; max-width: 100%; }

html { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }

body { background: #f3f3f3; }

.container { display: grid; grid-template-columns: repeat(12, 1fr); }

.text { font-size: 0.9375em; }

.text h2 { margin-bottom: 0.78125rem; }

.text p { line-height: 1.6622418879; }

.text p:first-of-type { margin-bottom: 0.9375rem; }

section, footer, header { max-width: 1000px; margin: 0 auto; }

body.stopScroll { overflow: hidden; }

body { font-family: "CooperHewitt", "Roboto", "Helvetica", "Arial", sans-serif; font-weight: 250; color: #848484; line-height: 1.2762762763; }

h1, h2, h3, h4, h5, h6 { font-weight: 600; }

h1 { text-transform: uppercase; line-height: normal; }

.sub-heading { color: #b9b9b9; font-weight: 600; text-transform: uppercase; margin-bottom: 0.78125rem; background: #f1f1f1; display: inline-block; height: 1.875rem; padding: 0.46875rem 1.5625rem 0.46875rem 0.625rem; -webkit-clip-path: polygon(0 0, 98% 0, 84% 100%, 0% 100%); clip-path: polygon(0 0, 98% 0, 84% 100%, 0% 100%); }

.button { background: #019ce1; padding: 0.78125rem; color: #ffffff; font-weight: 600; text-transform: uppercase; text-decoration: none; font-size: 0.75rem; cursor: pointer; display: inline-block; }

button.panel-button { background: #dfdfdf; border-radius: 50%; padding: 1.03125rem; z-index: 1; border: none; -webkit-transition: all 350ms; transition: all 350ms; cursor: pointer; }

button.panel-button:hover { background: #019ce1; }

header { background: #ffffff; height: 3.125rem; display: grid; -webkit-box-align: center; align-items: center; }

header .container { display: grid; grid-template-columns: repeat(12, 1fr); }

header .logo-con { grid-column: 6 / 12; justify-self: end; align-self: center; }

header img.logo { width: 3.03125rem; height: 2.625rem; }

header .menu { grid-column: 2 / 3; align-self: center; }

header nav ul.links { visibility: hidden; z-index: 99; width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: #019ce1; color: #ffffff; padding: 2.34375rem; align-content: center; -webkit-box-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; -webkit-transition: all 350ms; transition: all 350ms; opacity: 0; }

header nav ul.links a { text-decoration: none; color: #ffffff; font-weight: 600; font-size: 2.34375em; text-transform: uppercase; -webkit-transition: all 350ms; transition: all 350ms; }

header nav ul.links a:hover { color: #006392; }

header nav ul.links li { margin-bottom: 0.9375rem; }

header nav ul.links li:last-child { margin: 0; }

header nav ul.links li:first-child { position: absolute; top: 1.015625rem; right: 1.015625rem; }

header nav ul.links.closed { display: none; }

header nav ul.links.open { display: -webkit-box; display: flex; visibility: visible; opacity: 1; }

header div.hamburger { cursor: pointer; align-self: center; }

header div.hamburger span { background: #b9b9b9; height: 0.21875rem; width: 1.5625rem; display: block; margin-bottom: 0.21875rem; }

header div.hamburger span:last-child { margin: 0; }

@media (min-width: 840px) { div.hamburger { display: none; }
  header .menu { grid-column: 2 / 11; }
  header .logo-con { grid-column: 11 / 12; }
  header nav ul.links { height: auto; width: auto; visibility: visible; opacity: 1; background: none; position: inherit; display: -webkit-box; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -webkit-box-pack: start; justify-content: flex-start; padding: 0; }
  header nav ul.links li { margin-bottom: 0; margin-right: 1.25rem; }
  header nav ul.links li:first-child { display: none; }
  header nav ul.links a { color: #848484; font-size: 0.90625em; font-weight: 250; } }

footer { color: #ffffff; background: #008dd1; font-size: 0.84375em; }

footer .container { display: grid; grid-template-columns: repeat(12, 1fr); }

footer .wrap { grid-column: 2 / 12; }

footer ul.text-links { display: -webkit-box; display: flex; flex-wrap: wrap; margin-bottom: 0.78125rem; }

footer ul.text-links li { margin-right: 0.625rem; font-weight: 500; }

footer ul.text-links li:last-child { margin-right: 0; }

footer section.links { padding: 1.40625rem 0; }

section.hero { display: grid; padding-top: 4.0625rem; padding-bottom: 3.125rem; background: -webkit-gradient(linear, left top, left bottom, from(#ededed), color-stop(25%, #e1e1e1), to(#f3f3f3)); background: -webkit-linear-gradient(top, #ededed 0%, #e1e1e1 25%, #f3f3f3 100%); background: linear-gradient(to bottom, #ededed 0%, #e1e1e1 25%, #f3f3f3 100%); }

section.hero .container { display: grid; grid-template-columns: repeat(12, 1fr); }

section.hero .images { grid-column: 2 / 12; }

section.hero .wrap { grid-column: 2 / 12; }

section.hero img.desktop { display: none; }

section.hero img.mobile { margin-bottom: 2.03125rem; width: 75%; margin-left: auto; margin-right: auto; }

section.hero h1 { margin-bottom: 0.9375rem; }

section.hero p { font-weight: 300; margin-bottom: 2.03125rem; }

section.hero a.button { height: 2.25rem; }

@media (min-width: 840px) { section.hero img.mobile { display: none; }
  section.hero img.desktop { display: block; width: 90%; float: right; }
  section.hero .wrap { grid-column: 2 / 7; grid-row: 1; display: grid; -webkit-box-align: center; align-items: center; }
  section.hero .images { grid-column: 7 / 12; -webkit-box-align: center; align-items: center; } }

section.intro .container { display: grid; grid-template-columns: repeat(12, 1fr); background: #ffffff; }

section.intro .image { grid-column: 1 / 13; }

section.intro .wrap { grid-column: 2 / 12; background: #ffffff; padding: 2.34375rem 0; }

@media (min-width: 750px) { section.intro .image { grid-column: 1 / 6; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; background: url("../images/homepage/intro.jpg"); }
  section.intro .image img { display: none; }
  section.intro .wrap { grid-column: 6 / 13; display: grid; grid-template-columns: repeat(9, 1fr); }
  section.intro .wrap .text { grid-column: 2 / 9; } }

section.benefits .container { display: grid; grid-template-columns: repeat(12, 1fr); }

section.benefits .container div.environment, section.benefits .container div.map, section.benefits .container div.refuel { grid-column: 1 / 13; background: #008dd1; color: #ffffff; display: grid; grid-template-columns: repeat(12, 1fr); }

section.benefits .container div.environment div, section.benefits .container div.map div, section.benefits .container div.refuel div { grid-column: 2 / 12; display: grid; grid-template-columns: repeat(6, 1fr); padding: 1.40625rem 0; }

section.benefits .container div.environment div img, section.benefits .container div.map div img, section.benefits .container div.refuel div img { grid-column: 1 / 2; display: block; width: 100%; align-self: center; }

section.benefits .container div.environment div p, section.benefits .container div.map div p, section.benefits .container div.refuel div p { grid-column: 2 / 7; align-self: center; padding-left: 0.9375rem; }

section.benefits .container div.map { background: #019ce1; }

@media (min-width: 750px) { section.benefits .container div.environment { grid-column: 1 / 5; }
  section.benefits .container div.map { grid-column: 5 / 9; }
  section.benefits .container div.refuel { grid-column: 9 / 13; }
  section.benefits .container div.environment div img, section.benefits .container div.map div img, section.benefits .container div.refuel div img { grid-row: 1; height: 6.25rem; margin-bottom: 0.625rem; grid-column: 3 / 5; }
  section.benefits .container div.environment div p, section.benefits .container div.map div p, section.benefits .container div.refuel div p { grid-row: 2; grid-column: 1 / 7; } }

section.how .container { background: #ffffff; }

section.how .image { grid-column: 1 / 13; }

section.how .wrap { background: #ffffff; padding: 2.34375rem 0; grid-column: 2 / 12; }

section.how .wrap .text { display: grid; grid-template-columns: repeat(7, 1fr); grid-gap: 0.625rem; }

section.how .wrap .text .info { grid-column: 1 / 5; }

section.how .wrap .text .icon { grid-column: 5 / 8; display: grid; -webkit-box-align: center; align-items: center; }

section.how .wrap .text .panel-switcher { grid-row: 2; grid-column: 1 / 8; position: relative; display: -webkit-box; display: flex; -webkit-box-pack: justify; justify-content: space-between; padding: 0 0.78125rem; }

section.how .wrap .text .panel-switcher:before { position: absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 100%; height: 0.3125rem; background: #f1f1f1; content: ''; }

section.how .wrap .text .panel-switcher .panel-button { position: relative; }

section.how .wrap .text .panel-switcher .panel-button:before { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

section.how .wrap .text .panel-switcher .panel-button.air:before { content: url("../images/homepage/how/air.svg"); width: 1.40625rem; }

section.how .wrap .text .panel-switcher .panel-button.air:hover:before { content: url("../images/homepage/how/air-hover.svg"); }

section.how .wrap .text .panel-switcher .panel-button.hydrogen:before { content: url("../images/homepage/how/h.svg"); width: 0.9375rem; }

section.how .wrap .text .panel-switcher .panel-button.hydrogen:hover:before { content: url("../images/homepage/how/h-hover.svg"); }

section.how .wrap .text .panel-switcher .panel-button.electric:before { content: url("../images/homepage/how/electric.svg"); width: 1.09375rem; }

section.how .wrap .text .panel-switcher .panel-button.electric:hover:before { content: url("../images/homepage/how/electric-hover.svg"); }

section.how .wrap .text .panel-switcher .panel-button.movement:before { content: url("../images/homepage/how/movement.svg"); width: 1.09375rem; }

section.how .wrap .text .panel-switcher .panel-button.movement:hover:before { content: url("../images/homepage/how/movement-hover.svg"); }

section.how .wrap .text .panel-switcher .panel-button.vapour:before { content: url("../images/homepage/how/hydrogen.svg"); width: 1.09375rem; }

section.how .wrap .text .panel-switcher .panel-button.vapour:hover:before { content: url("../images/homepage/how/hydrogen-hover.svg"); }

@media (min-width: 600px) { section.how .wrap { grid-column: 1 / 8; display: grid; grid-template-columns: repeat(9, 1fr); }
  section.how .wrap .text { grid-column: 2 / 9; }
  section.how .image { grid-column: 8 / 13; background: url("../images/homepage/how.jpg"); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; }
  section.how .image img { display: none; } }

section.viewer .container { background: #ffffff; }

section.viewer .wrap { background: #ffffff; padding: 2.34375rem 0; grid-column: 2 / 12; }

section.viewer .wrap ul.colour-switcher { display: none; -webkit-box-pack: center; justify-content: center; }

section.viewer .wrap ul.colour-switcher li { width: 2.1875rem; height: 2.1875rem; box-shadow: inset 1px 1.732px 4px 0px rgba(0, 0, 0, 0.06); border-radius: 50%; margin-right: 0.625rem; cursor: pointer; -webkit-transition: all 350ms; transition: all 350ms; }

section.viewer .wrap ul.colour-switcher li:last-child { margin-right: 0; }

section.viewer .wrap ul.colour-switcher li.white { background: -webkit-gradient(linear, left bottom, left top, from(#dedede), to(#eeeeee)); background: -webkit-linear-gradient(bottom, #dedede 0%, #eeeeee 100%); background: linear-gradient(0deg, #dedede 0%, #eeeeee 100%); }

section.viewer .wrap ul.colour-switcher li.silver { background: -webkit-gradient(linear, left bottom, left top, from(#acabac), to(#cacaca)); background: -webkit-linear-gradient(bottom, #acabac 0%, #cacaca 100%); background: linear-gradient(0deg, #acabac 0%, #cacaca 100%); }

section.viewer .wrap ul.colour-switcher li.grey { background: -webkit-gradient(linear, left bottom, left top, from(#4e4e4e), to(#6c6c6d)); background: -webkit-linear-gradient(bottom, #4e4e4e 0%, #6c6c6d 100%); background: linear-gradient(0deg, #4e4e4e 0%, #6c6c6d 100%); }

section.viewer .wrap ul.colour-switcher li.dark-blue { background: -webkit-gradient(linear, left bottom, left top, from(#31648a), to(#3d80b4)); background: -webkit-linear-gradient(bottom, #31648a 0%, #3d80b4 100%); background: linear-gradient(0deg, #31648a 0%, #3d80b4 100%); }

section.viewer .wrap ul.colour-switcher li.claret { background: -webkit-gradient(linear, left bottom, left top, from(#982a4b), to(#be3962)); background: -webkit-linear-gradient(bottom, #982a4b 0%, #be3962 100%); background: linear-gradient(0deg, #982a4b 0%, #be3962 100%); }

section.viewer .wrap ul.colour-switcher li.blue { background: -webkit-gradient(linear, left bottom, left top, from(#37a1cd), to(#40b1e0)); background: -webkit-linear-gradient(bottom, #37a1cd 0%, #40b1e0 100%); background: linear-gradient(0deg, #37a1cd 0%, #40b1e0 100%); }

section.viewer .wrap ul.colour-switcher li.selected { position: relative; }

section.viewer .wrap ul.colour-switcher li.selected:after { content: ''; position: absolute; width: 1.1875rem; height: 1.1875rem; box-shadow: 0.908px 1.782px 1px 0px rgba(0, 0, 0, 0.04); border-radius: 50%; background: #ffffff; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

section.viewer .wrap ul.colour-switcher li:hover { position: relative; -webkit-transition: all 350ms; transition: all 350ms; }

section.viewer .wrap ul.colour-switcher li:hover:after { content: ''; position: absolute; width: 1.1875rem; height: 1.1875rem; box-shadow: 0.908px 1.782px 1px 0px rgba(0, 0, 0, 0.04); border-radius: 50%; background: #ffffff; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

section.viewer .view { grid-column: 1 / 13; display: grid; grid-template-columns: repeat(12, 1fr); padding: 2.34375rem 0; background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), color-stop(35%, #e6e6e6), color-stop(36%, #f0f0f0), to(#f3f3f3)); background: -webkit-linear-gradient(top, #f3f3f3 0%, #e6e6e6 35%, #f0f0f0 36%, #f3f3f3 100%); background: linear-gradient(180deg, #f3f3f3 0%, #e6e6e6 35%, #f0f0f0 36%, #f3f3f3 100%); }

section.viewer .view .rotate { grid-column: 2 / 12; }

section.viewer .view .rotate img { width: 85%; margin: 0 auto; z-index: 2; }

section.viewer .view .rotate ul.rotate-controls { z-index: 2; display: -webkit-box; display: flex; width: 50%; margin: 0 auto; -webkit-box-pack: center; justify-content: center; margin-top: 0.3125rem; }

section.viewer .view .rotate ul.rotate-controls li { background: #b9b9b9; width: 1.875rem; height: 1.875rem; margin-right: 0.78125rem; border-radius: 50%; cursor: pointer; position: relative; }

section.viewer .view .rotate ul.rotate-controls li:before { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #ffffff; }

section.viewer .view .rotate ul.rotate-controls li:last-child { margin-right: 0; }

section.viewer .view .rotate ul.rotate-controls li.prev:before { font-family: "FontAwesome"; content: "\f053"; }

section.viewer .view .rotate ul.rotate-controls li.expand:before { font-family: "FontAwesome"; content: "\f065"; }

section.viewer .view .rotate ul.rotate-controls li.next:before { font-family: "FontAwesome"; content: "\f054"; }

section.viewer .view .rotate .oval { z-index: 1; height: 75px; width: 100%; margin-top: -5.390625rem; border-radius: 50%; border: 0.09375rem solid rgba(194, 194, 194, 0.75); }

section.viewer .view .rotate ul.colour-switcher { display: -webkit-box; display: flex; -webkit-box-pack: center; justify-content: center; margin: 0 auto; margin-top: 2.1875rem; }

section.viewer .view .rotate ul.colour-switcher li { width: 2.1875rem; height: 2.1875rem; box-shadow: inset 1px 1.732px 4px 0px rgba(0, 0, 0, 0.06); border-radius: 50%; margin-right: 0.625rem; cursor: pointer; -webkit-transition: all 350ms; transition: all 350ms; }

section.viewer .view .rotate ul.colour-switcher li:last-child { margin-right: -0; }

section.viewer .view .rotate ul.colour-switcher li.white { background: -webkit-gradient(linear, left bottom, left top, from(#dedede), to(#eeeeee)); background: -webkit-linear-gradient(bottom, #dedede 0%, #eeeeee 100%); background: linear-gradient(0deg, #dedede 0%, #eeeeee 100%); }

section.viewer .view .rotate ul.colour-switcher li.silver { background: -webkit-gradient(linear, left bottom, left top, from(#acabac), to(#cacaca)); background: -webkit-linear-gradient(bottom, #acabac 0%, #cacaca 100%); background: linear-gradient(0deg, #acabac 0%, #cacaca 100%); }

section.viewer .view .rotate ul.colour-switcher li.grey { background: -webkit-gradient(linear, left bottom, left top, from(#4e4e4e), to(#6c6c6d)); background: -webkit-linear-gradient(bottom, #4e4e4e 0%, #6c6c6d 100%); background: linear-gradient(0deg, #4e4e4e 0%, #6c6c6d 100%); }

section.viewer .view .rotate ul.colour-switcher li.dark-blue { background: -webkit-gradient(linear, left bottom, left top, from(#31648a), to(#3d80b4)); background: -webkit-linear-gradient(bottom, #31648a 0%, #3d80b4 100%); background: linear-gradient(0deg, #31648a 0%, #3d80b4 100%); }

section.viewer .view .rotate ul.colour-switcher li.claret { background: -webkit-gradient(linear, left bottom, left top, from(#982a4b), to(#be3962)); background: -webkit-linear-gradient(bottom, #982a4b 0%, #be3962 100%); background: linear-gradient(0deg, #982a4b 0%, #be3962 100%); }

section.viewer .view .rotate ul.colour-switcher li.blue { background: -webkit-gradient(linear, left bottom, left top, from(#37a1cd), to(#40b1e0)); background: -webkit-linear-gradient(bottom, #37a1cd 0%, #40b1e0 100%); background: linear-gradient(0deg, #37a1cd 0%, #40b1e0 100%); }

section.viewer .view .rotate ul.colour-switcher li.selected { position: relative; }

section.viewer .view .rotate ul.colour-switcher li.selected:after { content: ''; position: absolute; width: 1.1875rem; height: 1.1875rem; box-shadow: 0.908px 1.782px 1px 0px rgba(0, 0, 0, 0.04); border-radius: 50%; background: #ffffff; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

section.viewer .view .rotate ul.colour-switcher li:hover { position: relative; -webkit-transition: all 350ms; transition: all 350ms; }

section.viewer .view .rotate ul.colour-switcher li:hover:after { content: ''; position: absolute; width: 1.1875rem; height: 1.1875rem; box-shadow: 0.908px 1.782px 1px 0px rgba(0, 0, 0, 0.04); border-radius: 50%; background: #ffffff; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

@media (min-width: 600px) { section.viewer .view { grid-column: 1 / 8; grid-row: 1; display: grid; grid-template-columns: repeat(9, 1fr); }
  section.viewer .view .rotate { grid-column: 2 / 9; }
  section.viewer .view .rotate ul.colour-switcher { display: none; }
  section.viewer .wrap { grid-column: 8 / 13; display: grid; grid-template-columns: repeat(9, 1fr); }
  section.viewer .wrap .text { grid-column: 2 / 9; }
  section.viewer .wrap ul.colour-switcher { display: -webkit-box; display: flex; -webkit-box-pack: start; justify-content: flex-start; } }

section.gallery ul.photos { display: grid; grid-template-columns: repeat(12, 1fr); }

section.gallery ul.photos li { grid-column: 1 / 7; }

section.gallery ul.photos li:nth-child(even) { grid-column: 7 / 13; }

section.gallery ul.photos li:nth-child(3) { grid-column: 7 / 13; }

section.gallery ul.photos li:nth-child(4) { grid-column: 1 / 7; grid-row: 2; }

@media (min-width: 840px) { section.gallery ul.photos li, section.gallery ul.photos li:nth-child(4) { grid-column: 1 / 5; }
  section.gallery ul.photos li:nth-child(2), section.gallery ul.photos li:nth-child(5) { grid-column: 5 / 9; }
  section.gallery ul.photos li:nth-child(3), section.gallery ul.photos li:nth-child(6) { grid-column: 9 / 13; } }

section.interest-news .container { background: #ffffff; }

section.interest-news .interest { background: #ffffff; padding: 2.34375rem 0; grid-column: 2 / 12; }

section.interest-news .interest .button { height: 2.25rem; margin-bottom: 0.625rem; display: block; float: left; clear: left; }

section.interest-news .interest .button.sign-up { background: #c6c6c6; margin-bottom: 0; }

section.interest-news .news { background: #f3f3f3; padding: 2.34375rem 0; grid-column: 1 / 13; display: grid; grid-template-columns: repeat(12, 1fr); }

section.interest-news .news .wrap { grid-column: 2 / 12; }

section.interest-news .news .sub-heading { background: #e8e7e7; }

section.interest-news .news ul.news { display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 0.625rem; -webkit-box-align: start; align-items: start; padding: 0; margin-top: 0.46875rem; }

section.interest-news .news ul.news li { grid-column: 1 / 3; }

section.interest-news .news ul.news li:nth-child(even) { grid-column: 3 / 5; }

section.interest-news .news ul.news li img { margin-bottom: 0.78125rem; }

section.interest-news .news ul.news a { text-decoration: none; color: #848484; font-size: 0.875em; font-weight: 500; display: block; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }

section.interest-news .news ul.news i { font-size: 0.65625em; }

@media (min-width: 750px) { section.interest-news .interest { grid-column: 1 / 6; }
  section.interest-news .interest .wrap { display: grid; grid-template-columns: repeat(9, 1fr); }
  section.interest-news .interest .text { grid-column: 2 / 9; }
  section.interest-news .news { grid-column: 6 / 13; } }
